.Hud {
	margin-right: 40px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	height:100%;
	width: 100%;
}

#HudHeroes {
	flow-children: down;
	horizontal-align: right;
	vertical-align: center;
}

.Hud.Visible {
	opacity: 1;
}

#Reason {
	horizontal-align: center;
	margin-bottom: 10px;
	font-size: 30px;
	color: white;
	font-family: Goudy Trajan Medium;
	text-shadow: 0px 0px 1px 2.0 rgba( 22, 22, 22, 0.9 );
}

#Reason.Red {
	color: rgb( 200, 30, 30 );
}

#RolesContainer {
	flow-children: down;
}

#RolesContainer.PeaceWin {
	flow-children: up;
}

.RolePlayersList {
	flow-children: down;
}

#Header {
	flow-children: right;
}

#RoleName, #PlayerInfo {
	width: 350px;
}

#RoleName {
	font-size: 30px;
	color: white;
	font-family: Goudy Trajan Medium;
	text-shadow: 0px 0px 1px 2.0 rgba( 22, 22, 22, 0.9 );
}

#Imposters #RoleName {
	color: rgb( 200, 30, 30 );
}

#StatTitles {
	vertical-align: bottom;
	flow-children: right;
}

.DefaultStat {
	width: 130px;
	vertical-align: center;
}

.DefaultStat Label {
	horizontal-align: center;
	font-size: 28px;
	color: white;
	font-family: Radiance;
}

.TitleVotes {
	vertical-align: center;
	width: 130px;
	flow-children: down;
}

.TitleVotesHigh {
	horizontal-align: center;
	font-size: 16px;
	color: white;
	font-family: Radiance;
	text-align: center;
}

.VotesRow {
	flow-children: right;
	horizontal-align: center;
}

.VotesRow Label {
	width: 35px;
	font-size: 16px;
	color: white;
	font-family: Radiance;
	text-align: center;
}

.TitleRating {
	vertical-align: center;
	width: 200px;
}

.TitleRating Label {
	horizontal-align: center;
	font-size: 28px;
	color: white;
	font-family: Radiance;
}

.ValueRating {
	vertical-align: center;
	width: 200px;
}

.RatingRow {
	flow-children: right;
	horizontal-align: center;
}

.RatingRow Label {
	font-size: 22px;
	color: white;
	font-family: Radiance;
	text-align: center;
}

.RatingRow Label.Plus {
	text-shadow: 0px 0px 1px 2.0 rgb( 22, 222, 22 );
}

.RatingRow Label.Minus {
	text-shadow: 0px 0px 1px 2.0 rgb( 222, 22, 22 );
}

.RolePlayersList .PlayerRow {
	width: 100%;
	background-color: rgb( 11, 11, 11 );
	border: 2px solid rgb( 22, 22, 22 );
	flow-children: right;
}

#PlayerInfo {
	flow-children: right;
	height: 46px;
	padding: 3px;
}

#AvatarContainer {
	height: 100%;
	width: height-percentage( 100% );
}

#HeroImage {
	height: 100%;
	width: height-percentage( 178% );
	margin-left: 5px;
}

#Nickname {
	vertical-align: center;
	margin-left: 5px;
	font-size: 28px;
	color: white;
	font-family: Radiance;
}

#PlayerStats {
	vertical-align: center;
	flow-children: right;
}

#CloseButton {
	horizontal-align: right;
	margin-top: 10px;
	background-color: rgb( 44, 44, 44 );
	border: 2px solid rgb( 144, 144, 144 );
	box-shadow: black 0px 0px 5px 0px;
	padding: 9px;
}

#CloseButton Label {
	font-family: Radiance;
	font-size: 20px;
	color: rgb( 211, 211, 211 );
	text-shadow: 0px 0px 4px 4 #000a;
}

#CloseButton:hover {
	background-color: rgb( 66, 66, 66 );
	box-shadow: white 0px 0px 5px 0px;
}

#MuteButton {
	background-image: url( "file://{images}/custom_game/mute_button.png" );
	background-size: 70%;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.95);
	align: center center;
}

#MuteButton Label {
	align: center bottom;
	font-size: 12px;
	color: white;
	font-family: Radiance;
	margin-bottom: 5px;
}

#Mutes {
	align: center top;
	margin-right: 500px;
	margin-top: 100px;
	padding: 5px;
	border: 1px solid black;
	background-color: rgba( 200, 200, 200, 0.3 );
	border-radius: 4px;
	transform: translateY( -400px );
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	flow-children: down;
}

#Mutes.Visible {
	opacity: 1;
	transform: translateX( 0px );
}

#Mutes Label {
	horizontal-align: center;
	font-size: 19px;
	color: white;
	font-family: Radiance;
	text-shadow: 0px 0px 1px 2.0 rgba( 22, 22, 22, 0.9 );
}

#Mutes #Banned, #Mutes #Unbanned {
	horizontal-align: center;
	flow-children: down;
}

#Mutes #Banned Label {
	color: rgb( 200, 30, 30 );
}

#Mutes #Reports {
	horizontal-align: center;
	margin-bottom: 10px;
	flow-children: right;
}

#Mutes #Reports Panel {
	margin: 3px;
	flow-children: down;
}

#Mutes #Reports Image {
	width: 40px;
	height: 40px;
	margin-bottom: 6px;
}

#Mutes #Reports Label {
	width: 100%;
	height: 30px;
	border-bottom: 2px solid black;
	text-align: center;
}

#Mutes #ReportsRemaining {
	horizontal-align: center;
	margin-top: 15px;
}

#MuteList {
	horizontal-align: right;
	flow-children: down;
}

#MuteList .PlayerRow {
	horizontal-align: right;
	flow-children: right;
}

#MuteList #ReportButtons {
	margin-right: 2px;
	height: 100%;
	flow-children: right;
}

#MuteList #ReportButtons Image {
	vertical-align: center;
	width: 44px;
	height: 44px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#MuteList #Report {
	background-image: url( "s2r://panorama/images/conduct/report_flag_png.vtex" );
	wash-color: #dd3C1C;
}

#MuteList #Mute.Muted {
	background-image: url( "file://{images}/custom_game/button_audio_off.psd" );
}

#MuteList #Mute {
	horizontal-align: right;
	vertical-align: center;
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url( "file://{images}/custom_game/button_audio_on.psd" );
	opacity: 0.8;
}

#MuteList #HeroImage {
	height: 55px;
	margin: 3px;
	width: height-percentage( 170% );
}

#MuteList #Color {
	width: 8px;
	height: 100%;
}