.BatriderContainer {
	width: 1000px;
	height: 630px;
	border-top: 1px solid black;
}

.BatriderContainer #Batrider {
	horizontal-align: left;
	vertical-align: center;
	width: 7%;
	height: 10%;
	max-width: 65px;
	max-height: 65px;
	background-size: 100%;
	z-index: 2;
}

.BatriderContainer .Truba {
	width: 55%;
	height: 55%;
	max-width: 45px;
	max-height: 45px;
	background-color: green;
	background-image: url("file://{images}/custom_game/stone_block.png");
	background-size: 100%;
	vertical-align: bottom;
	z-index: 3;
}

.BatriderContainer #Finish {
	width: 45px;
	height: 100%;
	background-color: red;
	background-image: url("file://{images}/custom_game/finish.png");
	align: right top;
	z-index: 1;
}