.InterferenceContainer {
	width: 300px;
	height: 150px;
	flow-children: down;
}

.InterferenceContainer Label {
	font-family: Radiance;
	font-size: 17px;
	color: rgb( 211, 211, 211 );
	text-transform: uppercase;
	text-shadow: 0px 0px 4px 4 #000a;
}

.InterferenceContainer .Button {
	horizontal-align: center;
	vertical-align: center;
	background-color: rgb( 44, 44, 44 );
	border: 2px solid rgb( 144, 144, 144 );
	box-shadow: black 0px 0px 5px 0px;
	padding: 9px;
}

.InterferenceContainer .ProgressContainer {
	horizontal-align: center;
	width: 200px;
	height: 40px;
	background-color: rgb( 44, 44, 44 );
	border: 2px solid rgb( 144, 144, 144 );
	box-shadow: black 0px 0px 5px 0px;
}

.InterferenceContainer .Percentage {
	horizontal-align: center;
	margin-top: 40px;
}

.InterferenceContainer .ProgressBar {
	height: 100%;
	background-color: white;
}