.SearchContainer {
	flow-children: down;
	padding: 10px;
}

.SearchTitle {
	margin: 5px;
	horizontal-align: center;
	flow-children: right;
}

.SearchTitle Label {
	color: rgb( 233, 233, 233 );
	font-family: Radiance;
	font-size: 24px;
	text-shadow: 0px 0px 4px 4 #000a;
	max-height: 30px;
}

.SearchHero {
	width: 40px;
	height: 40px;
	margin: 3px;
}

.SearchHero.Found {
	wash-color: green;
}

.SearchHero.Fail {
	wash-color: red;
}